.App {
  text-align: center;
}

.loginbox {
  background-color: #282d36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.details {
  background-color: #282d36;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}   

.pss2 {
  display: flex;
  background-color: white;
 
  align-items: center;
  
}

.pp5 {
  border: none;
}

.eyeicon {
  size: 1rem;
  color: black;
  padding: 2px;
  
}

.details{
  gap: 10px;
}